.head {
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
}

.bi-plus-circle {
  cursor: pointer;
}

.task-bg {
  background: lightgrey;
}

.taskName-input .time-input {
  border: 2px lightgrey;
}
